@use "variable" as *;
@use "svg" as *;

/* =================================
 * 	中央寄せ
 * ------------------------------ */
@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

/* =================================
 * 	パールライン
 * ------------------------------ */
@mixin pearl-line($size: 54px, $position: bottom) {
    content: "";
    position: absolute;
    #{$position}: calc(($size / 2) * -1);
    left: 0;
    width: 100%;
    height: $size;
    background-image: url("../images/pearl01.webp");
    background-repeat: repeat-x;
    background-size: $size auto;
    background-position: center #{$position};
    z-index: -1;
}
