/* =================================
 * 	在籍一覧
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 *ページ全体
 * ------------------------------ */
.containerDetails {
    @include subPageContainer;
    .subPageH2 {
        position: relative;
        margin-top: 4em;
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            translate: -50%;
            width: 8rem;
            aspect-ratio: 1;
            bottom: calc(100% + 0.1rem);
            background: url("../images/pearl02.webp") no-repeat center
                center/contain;
            @include sp {
                width: 12vw;
                top: -14vw;
            }
        }
    }
}
.objectCirclePearl {
    position: absolute;
    font-size: inherit;
    &.potionRight {
        left: 90%;
        top: 00;
    }
}
/* =================================
 *料金一覧
 * ------------------------------ */
.blockPriceList {
    align-self: center;
    max-width: $articleMaxWidth;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    padding-bottom: 12vw;
    .listStar {
        position: relative;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 0 0.8rem;
        li {
            svg {
                width: 15px;
                aspect-ratio: 22/21;
                fill: $base-white;
            }
        }
    }
    .sidebarH3 {
        color: #f80;
        @include Oswald;
        text-transform: uppercase;
        font-size: FZ(40);
        font-weight: 200;
        letter-spacing: 0.1em;
        margin-top: 0.8em;
    }
    h3 {
        font-size: FZ(16);
        font-weight: 300;
        letter-spacing: 0.27em;
        margin-top: 0.5em;
    }
    .priceList {
        font-size: inherit;
        display: grid;
        grid-template-columns: auto auto 1fr;
        gap: 0 3em;
        margin-top: 1em;
        li {
            font-size: inherit;
            grid-column: span 3;
            display: grid;
            grid-template-columns: subgrid;
            .old {
                position: relative;
                font-size: inherit;
                display: flex;
                align-self: end;
                padding-bottom: 0.8em;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    width: calc(100% + 1em);
                    height: 1px;
                    background-color: $base-white;
                    rotate: -10deg;
                }
                .time {
                    font-size: FZ(48);
                    font-weight: 100;
                    i {
                        font-size: 0.5em;
                    }
                }
                .oldPrice {
                    font-size: FZ(48);
                    font-weight: 100;
                    i {
                        font-size: 0.5em;
                    }
                }
            }
            .new {
                grid-column: span 2;
                font-size: inherit;
                display: grid;
                grid-template-columns: subgrid;
                gap: 0 1em;
                .time {
                    font-size: FZ(96);
                    font-weight: 100;
                    i {
                        font-weight: 500;
                        font-size: 0.25em;
                    }
                }
                .newPrice {
                    font-size: FZ(96);
                    font-weight: 100;
                    i {
                        font-weight: 500;
                        font-size: 0.25em;
                    }
                }
            }
        }
    }
    .nominationFee {
        font-size: inherit;
        display: flex;
        align-items: center;
        margin-top: 2dvh;
        h4 {
            font-size: FZ(20);
            margin-right: 2em;
            letter-spacing: 0.27em;
        }
        .price {
            font-size: FZ(48);
            font-weight: 100;
            display: flex;
            align-items: center;
            i {
                font-size: 0.42em;
                font-weight: 500;
                align-self: flex-end;
                display: inline-block;
                translate: 0 -0.2em;
            }
            &:nth-of-type(2) {
                margin-left: 0.2em;
                &::before {
                    content: "〜";
                    font-size: 0.4em;
                    margin-inline: 0.5em;
                }
            }
        }
    }
    hr {
        font-size: inherit;
        width: 100%;
        max-width: 65rem;
        border-top: 1px solid;
        margin-top: 2em;
    }
    .boxOption {
        font-size: inherit;
        margin-top: 2em;
        display: flex;
        gap: 0 3em;
        h4 {
            color: #f80;
            @include Oswald;
            font-size: FZ(40);
            font-weight: 200;
            letter-spacing: 0.1em;
            align-self: center;
        }
        ul {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.5em 2em;
            li {
                font-size: inherit;
                display: grid;
                grid-column: span 2;
                grid-template-columns: subgrid;
                .title {
                    font-size: inherit;
                    display: flex;
                    flex-direction: column;
                    h5 {
                        font-size: FZ(32);
                        font-weight: 300;
                        letter-spacing: 0.17em;
                    }
                    span {
                        letter-spacing: 0.17em;
                        font-size: 1.4rem;
                    }
                }
                .price {
                    font-size: FZ(32);
                    font-weight: 300;
                    letter-spacing: 0.17em;
                }
            }
        }
    }
}

/* =================================
 *ショップインフォ
 * ------------------------------ */
.blockShopInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 3em;
    z-index: 1;
    translate: 0 calc(-100vw * tan(15deg));
    clip-path: polygon(0 calc(100vw * tan(15deg)), 100% 0, 100% 100%, 0 100%);
    background-color: $light-purple;
    margin-bottom: calc(-100vw * tan(15deg));
    .blockInfo {
        padding-top: 28vw;
        font-size: inherit;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 0 3em;
        @include sp {
            flex-direction: column;
            align-items: center;
            gap: 4vw 0;
        }
        .logo {
            position: relative;
            font-size: inherit;
            width: 14.5em;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                margin: auto;
                width: 8rem;
                aspect-ratio: 1;
                background: url("../images/pearl02.webp") no-repeat center
                    center/contain;
            }
            svg {
                width: 100%;
                fill: $base-white;
                aspect-ratio: 232/248;
            }
        }
        .boxInfo {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.8em 2em;
            align-items: center;
            padding-top: 1em;
            @include sp {
                width: 100%;
                gap: 2vw 4vw;
                grid-template-columns: 35% 1fr;
            }
            h3 {
                font-size: FZ(20);
                letter-spacing: 0.12em;
                @include sp {
                    font-size: FZ(18);
                    justify-self: end;
                }
            }
            .time {
                font-size: inherit;
                display: flex;
                span {
                    @include Oswald;
                    font-weight: 200;
                    font-size: FZ(32);
                    letter-spacing: 0.12em;
                    @include sp {
                        font-size: FZ(30);
                    }
                    &:nth-of-type(2) {
                        &::before {
                            content: "~";
                            margin-inline: 0.3em;
                        }
                    }
                }
            }
            .tel {
                font-size: inherit;
                display: flex;
                align-items: center;
                gap: 0 0.5em;
                @include sp {
                    flex-direction: column;
                    align-items: flex-start;
                }
                a {
                    @include Oswald;
                    font-weight: 200;
                    font-size: FZ(32);
                    letter-spacing: 0.12em;
                    @include sp {
                        font-size: FZ(30);
                    }
                }
                span {
                    font-size: FZ(20);
                    letter-spacing: 0.12em;
                }
            }
            address {
                grid-column: span 2;
                font-size: FZ(20);
                letter-spacing: 0.12em;
                margin-top: 0.5em;
                @include sp {
                    font-size: FZ(18);
                    justify-self: center;
                }
            }
            .linkMap {
                @include Oswald;
                font-size: FZ(16);
                font-weight: 300;
                grid-column: span 2;
                background-color: $base-white;
                color: $base-purple;
                justify-self: self-start;
                padding: 0.5em 2em;
                letter-spacing: 0.15em;
                border-radius: 5px;
                @include sp {
                    justify-self: center;
                    margin-top: 2vw;
                }
            }
        }
    }
}
