/* =================================
 * 	トップページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.boxH2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: inherit;
    span {
        @include Oswald;
        font-size: FZ(128);
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    h2 {
        font-size: FZ(24);
        font-weight: 300;
        letter-spacing: 0.27em;
    }
}

.itemPageLink {
    background-color: $base-white;
    color: $dark-purple;
    width: 100%;
    max-width: 464px;
    height: 68px;
    @include flex-center;
    font-size: FZ(20);
    letter-spacing: 0.12em;
    border-radius: 100vmax;
}

/* =================================
 * 動画
 * ------------------------------ */
.containerMovie {
    position: relative;
    @include flex-center;
    .itemMovie {
        width: 100%;
        aspect-ratio: 16/9;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

/* =================================
 * ショップインフォ
 * ------------------------------ */
.containerShopInfo {
    background-color: $base-purple;
    @include flex-center;
    padding: 3em 2vw 28vw;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 100vw * tan(15deg)),
        0 100%
    );
    .blockInfo {
        font-size: inherit;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 0 3em;
        .name {
            display: grid;
            font-size: inherit;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.4em;
            span {
                display: inline-block;
                font-weight: 300;
                font-size: FZ(119);
            }
        }
        .boxInfo {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.8em 2em;
            align-items: center;
            padding-top: 1em;
            h3 {
                font-size: FZ(20);
                letter-spacing: 0.12em;
            }
            .time {
                font-size: inherit;
                display: flex;
                span {
                    @include Oswald;
                    font-weight: 200;
                    font-size: FZ(32);
                    letter-spacing: 0.12em;
                    &:nth-of-type(2) {
                        &::before {
                            content: "~";
                            margin-inline: 0.3em;
                        }
                    }
                }
            }
            .tel {
                font-size: inherit;
                display: flex;
                align-items: center;
                gap: 0 0.5em;
                a {
                    @include Oswald;
                    font-weight: 200;
                    font-size: FZ(32);
                    letter-spacing: 0.12em;
                }
                span {
                    font-size: FZ(20);
                    letter-spacing: 0.12em;
                }
            }
            address {
                grid-column: span 2;
                font-size: FZ(20);
                letter-spacing: 0.12em;
                margin-top: 0.5em;
            }
            .linkMap {
                @include Oswald;
                font-size: FZ(16);
                font-weight: 300;
                grid-column: span 2;
                background-color: $base-white;
                color: $base-purple;
                justify-self: self-start;
                padding: 0.5em 2em;
                letter-spacing: 0.15em;
                border-radius: 5px;
            }
        }
    }
}

/* =================================
 * ピックアップ
 * ------------------------------ */
.itemDetails {
    width: 100%;
    max-width: 1063px;
    flex: 0 0 100%;
    min-width: 0;
    background-color: $base-white;
    color: $dark-purple;
    display: grid;
    grid-template-columns: 47% 1fr;
    font-size: inherit;
    aspect-ratio: 1.874;
    gap: 0 2em;

    .itemImage {
        width: 100%;
        height: 100%;
        aspect-ratio: 3/4;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .castInfo {
        position: relative;
        font-size: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2em 0;
        .wrapBadges {
            font-size: inherit;
            height: 5rem;
            display: flex;
            ul {
                display: flex;
                font-size: inherit;
                --badge-color: #000;
                gap: 0 6px;
                li {
                    background-color: var(--badge-color);
                    color: $base-white;
                    width: 8rem;
                    @include flex-center;
                    @include Oswald;
                    font-size: FZ(16);
                    text-transform: uppercase;
                    letter-spacing: 0.16em;
                    &.new {
                        --badge-color: #148e5c;
                    }
                    &.trial {
                        --badge-color: #14668e;
                    }
                    &.up {
                        --badge-color: #910a67;
                    }
                }
            }
        }
        .wrapProfile {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            min-width: 42rem;
            margin-top: 4em;
            @include sp {
                min-width: unset;
            }
            .castNameEn {
                @include Oswald;
                font-size: FZ(24);
                font-weight: 200;
                color: $dark-pink;
                letter-spacing: 0.17em;
            }
            .castName {
                font-size: FZ(84);
                font-weight: 300;
                margin-top: 0.1em;
            }
            .age {
                @include Oswald;
                font-size: FZ(24);
                font-weight: 200;
                letter-spacing: 0.15em;
                margin-top: 0.8em;
                &::before {
                    content: "Age.";
                }
            }
            .castSize {
                font-size: inherit;
                display: flex;
                align-items: center;
                margin-top: 0.3em;
                span {
                    @include Oswald;
                    font-size: FZ(20);
                    font-weight: 200;
                    letter-spacing: 0.2em;
                    &::before {
                        text-transform: uppercase;
                    }
                    &:not(:last-of-type) {
                        &::after {
                            content: "/";
                            margin-inline: 0.2em;
                        }
                    }
                }
                .tall {
                    &::before {
                        content: "t.";
                    }
                }
                .bust {
                    &::before {
                        content: "b.";
                    }
                    i {
                        text-transform: uppercase;
                        &::before,
                        &::after {
                            display: inline-block;
                            translate: 0 -0.05em;
                        }
                        &::before {
                            content: "[";
                        }
                        &::after {
                            content: "]";
                        }
                    }
                }
                .west {
                    &::before {
                        content: "w.";
                    }
                }
                .hip {
                    &::before {
                        content: "h.";
                    }
                }
            }
        }
        .wrapRanking {
            position: relative;
            font-size: inherit;
            width: 100%;
            padding-right: 3em;
            display: flex;
            justify-content: flex-end;
            padding-top: 2em;
            .itemRanking {
                position: relative;
                font-size: inherit;
                background-color: #030637;
                color: $base-white;
                width: 8rem;
                aspect-ratio: 1;
                @include flex-center;
                &::before {
                    content: "";
                    position: absolute;
                    top: -1rem;
                    right: -1rem;
                    width: 2.5rem;
                    aspect-ratio: 1;
                    background: url("../images/pearl03.webp") no-repeat center
                        center / contain;
                    filter: drop-shadow(2px 2px 2px rgba(#000, 0.25));
                }
                span {
                    @include Oswald;
                    font-size: FZ(40);
                    font-weight: 300;
                    display: flex;
                    align-items: center;
                    &::before {
                        letter-spacing: 0.07em;
                        display: inline-block;
                        content: "NO.";
                        font-size: 0.35em;
                        translate: 0 0.5em;
                    }
                }
            }
        }
        .listType {
            display: flex;
            flex-wrap: wrap;
            font-size: inherit;
            gap: 0.3em;
            flex: 1;
            align-items: flex-end;
            li {
                background-color: $light-purple;
                color: $base-white;
                font-size: inherit;
                border-radius: 100vmax;
                padding: 0.5em 1em;
                span {
                    font-size: FZ(16);
                    font-weight: 300;
                    letter-spacing: 0.05em;
                    &::before {
                        content: "#";
                    }
                }
            }
        }
        .catchCopy {
            font-size: FZ(24);
            font-weight: 300;
            letter-spacing: 0.04em;
            margin-top: 1.6em;
        }
    }
}
.containerPickUp {
    padding: 1em 4vw 5em;
    translate: 0 calc(-100vw * tan(15deg));

    // clip-path: polygon(0 calc(100vw * tan(15deg)), 100% 0, 100% 100%, 0 100%);
    margin-bottom: calc(-100vw * tan(15deg));
    display: flex;
    justify-content: center;
    z-index: 2;
    article {
        display: flex;
        justify-content: center;
        .pickupSplide {
            position: relative;
            width: 100%;
            display: flex;
            font-size: inherit;
            max-width: 1063px;
            container-type: inline-size;
            &::before {
                content: "";
                position: absolute;
                top: -2em;
                right: -4em;
                width: 35cqw;
                background: url("../images/pick-up.svg") no-repeat center
                    center/contain;
                aspect-ratio: 341/170;
                z-index: 3;
            }
            :global(.splide__track),
            :global(.splide__list),
            :global(.splide__slide) {
                font-size: inherit;
            }
            :global(.splide__pagination) {
                display: none;
            }
            :global(.splide__arrows) {
                width: 100%;
                top: 50%;
                translate: 0 -50%;
                position: absolute;
                z-index: 1;
                :global(.splide__arrow--prev),
                :global(.splide__arrow--next) {
                    border-radius: unset;
                    width: 2rem;
                    height: 4rem;
                    background-color: $base-white;
                    display: block;
                    opacity: 1;
                    @include move03;
                    svg {
                        display: none;
                    }
                    @include hover {
                        opacity: 0.7;
                    }
                }
                :global(.splide__arrow--prev) {
                    left: -38px;
                    clip-path: polygon(0 50%, 100% 0, 100% 100%);
                }
                :global(.splide__arrow--next) {
                    right: -38px;
                    clip-path: polygon(0 0, 100% 50%, 0 100%);
                }
            }
        }
    }
}

/* =================================
 * スライドバナー
 * ------------------------------ */
.containerSlideBan {
    padding: 2em 0 3em;
    background-color: $dark-purple;

    .bannerList {
        position: relative;
        width: 100%;
        min-height: 240px;
        :global(.splide__track),
        :global(.splide__list),
        :global(.splide__slide) {
            font-size: inherit;
            min-height: 240px;
        }
        :global(.splide__arrows) {
            display: none;
        }
        :global(.splide__pagination) {
            display: none;
        }
        :global(.splide__slide) {
            img {
                aspect-ratio: 1920/1080;
                object-fit: cover;
            }
        }
    }
}

/* =================================
 * ランキング
 * ------------------------------ */
.containerRanking {
    display: flex;
    justify-content: center;
    padding: 5em 2vw 3em;
    z-index: 2;

    article {
        max-width: 129rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .listRanking {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            font-size: inherit;
            margin-top: 3em;
            gap: 0 1em;
            .innerRanking {
                position: relative;
                width: 100%;
                font-size: inherit;
            }
        }
    }
}

/* =================================
 *料金システム・スクエアバナー
 * ------------------------------ */
.containerSystem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18em 0 4em;
    z-index: 1;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        width: 100vw;
        top: 48%;
        height: calc(100% + 28vw);
        z-index: -1;
        clip-path: polygon(
            0 calc(100vw * tan(15deg)),
            100% 0,
            100% calc(100% - 100vw * tan(15deg)),
            0 100%
        );
    }
    &::before {
        background: url("../images/main-bg.webp") no-repeat center center /
            cover;
    }
    &::after {
        background-color: $base-purple;
        mix-blend-mode: multiply;
    }
    .boxBlockBg {
        position: absolute;
        top: 4vw;
        left: -2vw;
        width: 40vw;
        aspect-ratio: 3;
        background-color: #15001e;
        rotate: 5deg;
        z-index: -2;
        &::before {
            content: "";
            position: absolute;
            top: -36px;
            left: 0;
            width: 100%;
            height: 52px;
            background-image: url("../images/pearl01.webp");
            background-repeat: repeat-x;
            background-size: 52px auto;
            background-position: center bottom;
            z-index: -1;
        }
    }
    .objectCirclePearl {
        position: absolute;
        font-size: inherit;
        &.potionLeft {
            right: 90%;
            top: 10vw;
            z-index: 2;
        }
        &.potionRight {
            left: 90%;
            top: -10vw;
        }
    }
    .blockSystem {
        padding-inline: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em 0;
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            translate: -50%;
            width: 8rem;
            aspect-ratio: 1;
            top: -10rem;
            background: url("../images/pearl02.webp") no-repeat center
                center/contain;
        }
        .boxDetails {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            .normalPrice {
                position: relative;
                display: flex;
                font-size: inherit;
                gap: 0 1em;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    width: calc(100% + 1em);
                    height: 1px;
                    background-color: $base-white;
                    rotate: -10deg;
                }
                .min {
                    font-size: FZ(56);
                    font-weight: 100;
                    i {
                        font-size: 0.3em;
                    }
                }
                .price {
                    font-size: FZ(56);
                    font-weight: 100;
                    i {
                        font-size: 0.3em;
                    }
                }
            }
            .specialPrice {
                position: relative;
                display: grid;
                font-size: inherit;
                gap: 0 1em;
                margin-top: 2em;
                h3 {
                    grid-column: span 2;
                    color: $base-orange;
                    @include Oswald;
                    font-size: FZ(20);
                    justify-self: center;
                    font-weight: 200;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                }
                .min {
                    font-size: FZ(96);
                    font-weight: 100;
                    line-height: 1em;
                    i {
                        font-size: 0.3em;
                    }
                }
                .price {
                    font-size: FZ(96);
                    font-weight: 100;
                    line-height: 1em;
                    i {
                        font-size: 0.3em;
                    }
                }
            }
            .nominationFee {
                font-size: inherit;
                display: flex;
                gap: 0 2em;
                margin-top: 0.5em;
                padding-left: 1em;
                h4 {
                    font-size: FZ(24);
                    font-weight: 100;
                    letter-spacing: 0.27em;
                }
                .price {
                    font-size: FZ(24);
                    font-weight: 100;
                    letter-spacing: 0.27em;
                }
            }
            .itemPageLink {
                margin-top: 2em;
            }
        }
    }
    .BlockSlideBanSquare {
        position: relative;
        font-size: inherit;
        margin-top: 5em;
        .bannerList {
            position: relative;
            width: 100%;
            min-height: 240px;
            :global(.splide__track),
            :global(.splide__list),
            :global(.splide__slide) {
                font-size: inherit;
                min-height: 240px;
            }
            :global(.splide__arrows) {
                display: none;
            }
            :global(.splide__pagination) {
                // display: none;
                translate: 0 3rem;
                font-size: inherit;
                gap: 0 0.8rem;
            }
            :global(.splide__slide) {
                width: 100%;
                img {
                    width: 100%;
                    aspect-ratio: 1;
                    object-fit: cover;
                }
            }
        }
    }
}
/* =================================
 * 本日出勤スケジュール
 * ------------------------------ */
.containerSchedule {
    display: flex;
    justify-content: center;
    padding: 5em 2vw 1em;
    z-index: 2;

    article {
        max-width: 129rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .todayDate {
            font-size: FZ(40);
            font-weight: 300;
            letter-spacing: 0.1em;
            margin-top: 1em;
        }
        .todayNumber {
            background-color: $base-white;
            color: $dark-purple;
            font-size: FZ(20);
            padding: 0.5em 4em;
            letter-spacing: 0.2em;
            margin-top: 1em;
        }
        .notice {
            font-size: FZ(20);
            letter-spacing: 0.1em;
            margin-top: 1em;
        }
        .listSchedule {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            font-size: inherit;
            margin-top: 2em;
            gap: 3em 1em;
            .innerSchedule {
                position: relative;
                width: 100%;
                font-size: inherit;
            }
        }
        .itemPageLink {
            margin-top: 3em;
        }
    }
}
/* =================================
 * 女性求人情報
 * ------------------------------ */
.containerJobOffer {
    display: flex;
    flex-direction: column;
    padding: 0 2vw 8vw;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        translate: -50%;
        width: 100vw;
        bottom: 0;
        height: calc(100% - 1rem);
        z-index: -1;
        clip-path: polygon(
            0 calc(100vw * tan(15deg)),
            100% 0,
            100% 100%,
            0 100%
        );
    }
    &::before {
        background: url("../images/main-bg.webp") no-repeat center center /
            cover;
    }
    &::after {
        background-color: $dark-pink;
        mix-blend-mode: multiply;
    }
    .boxBlockBg {
        position: absolute;
        top: 12vw;
        left: -2vw;
        width: 60vw;
        aspect-ratio: 3;
        background-color: #15001e;
        rotate: 5deg;
        z-index: -3;
        &::before {
            content: "";
            position: absolute;
            top: -36px;
            left: 0;
            width: 100%;
            height: 52px;
            background-image: url("../images/pearl01.webp");
            background-repeat: repeat-x;
            background-size: 52px auto;
            background-position: center bottom;
            z-index: -1;
        }
    }
    article {
        max-width: $articleMaxWidth;
        display: grid;
        align-self: center;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 20vw;
        .innerBlock {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: inherit;
            grid-column-start: 2;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                right: calc(100% + 1em);
                width: 70%;
                background: url(../images/image-job-offer.webp) no-repeat center
                    center / contain;
                aspect-ratio: 980/1688;
            }
            h2 {
                font-size: FZ(36);
                font-weight: 300;
                letter-spacing: 0.4em;
            }
            .enTitle {
                display: flex;
                @include Oswald;
                font-size: FZ(40);
                font-weight: 300;
                align-items: flex-end;
                letter-spacing: 0.3em;
                text-transform: uppercase;
                translate: 0 -0.6em;
                em {
                    font-weight: 200;
                    font-size: 7.5em;
                    display: inline-block;
                    translate: 0 0.05em;
                }
            }
            p {
                font-size: FZ(16);
                font-weight: 300;
                line-height: 2em;
                letter-spacing: 0.08em;
                margin-top: 2em;
                text-align: justify;
            }
            .itemPageLink {
                margin-top: 1em;
                align-self: flex-start;
            }
        }
    }
}
/* =================================
 * 男性求人情報
 * ------------------------------ */
.containerMensJobOffer {
    display: flex;
    flex-direction: column;
    padding: 8em 2vw 4em;
    translate: 0 calc(-100vw * tan(5deg));
    margin-bottom: calc(-100vw * tan(5deg));
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: $dark-purple;
    }
    clip-path: polygon(0 0, 100% calc(100vw * tan(5deg)), 100% 100%, 0 100%);
    article {
        max-width: $articleMaxWidth;
        display: grid;
        align-self: center;
        grid-template-columns: repeat(2, 1fr);
        .innerBlock {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: inherit;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                left: calc(100% + 1em);
                width: 70%;
                background: url(../images/image-mens-job-offer.webp) no-repeat
                    center center / contain;
                aspect-ratio: 640/804;
            }
            .sidebarH2 {
                font-size: FZ(20);
                @include Oswald;
                align-self: flex-end;
                letter-spacing: 0.25em;
            }
            h2 {
                font-size: FZ(64);
                letter-spacing: 0.1em;
                align-self: flex-end;
                margin-top: 0.2em;
            }
            p {
                font-size: FZ(16);
                font-weight: 300;
                line-height: 2em;
                letter-spacing: 0.08em;
                margin-top: 2em;
                text-align: justify;
            }
            .itemPageLink {
                margin-top: 2em;
                align-self: flex-end;
            }
        }
    }
}
