/* =================================
 * 	トップページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * 動画
 * ------------------------------ */
.containerMovie {
    position: relative;
    @include flex-center;
    .itemMovie {
        width: 100%;
        aspect-ratio: 16/9;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

/* =================================
 * ショップインフォ
 * ------------------------------ */
.containerShopInfo {
    background-color: $base-purple;
    @include flex-center;
    padding: 3em 2vw 28vw;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 100vw * tan(15deg)),
        0 100%
    );
    .blockInfo {
        font-size: inherit;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 0 3em;
        .name {
            display: grid;
            font-size: inherit;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.4em;
            span {
                display: inline-block;
                font-weight: 300;
                font-size: FZ(119);
            }
        }
        .boxInfo {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.8em 2em;
            align-items: center;
            padding-top: 1em;
            h3 {
                font-size: FZ(20);
                letter-spacing: 0.12em;
            }
            .time {
                font-size: inherit;
                display: flex;
                span {
                    @include Oswald;
                    font-weight: 200;
                    font-size: FZ(32);
                    letter-spacing: 0.12em;
                    &:nth-of-type(2) {
                        &::before {
                            content: "~";
                            margin-inline: 0.3em;
                        }
                    }
                }
            }
            .tel {
                font-size: inherit;
                display: flex;
                align-items: center;
                gap: 0 0.5em;
                a {
                    @include Oswald;
                    font-weight: 200;
                    font-size: FZ(32);
                    letter-spacing: 0.12em;
                }
                span {
                    font-size: FZ(20);
                    letter-spacing: 0.12em;
                }
            }
            address {
                grid-column: span 2;
                font-size: FZ(20);
                letter-spacing: 0.12em;
                margin-top: 0.5em;
            }
            .linkMap {
                @include Oswald;
                font-size: FZ(16);
                font-weight: 300;
                grid-column: span 2;
                background-color: $base-white;
                color: $base-purple;
                justify-self: self-start;
                padding: 0.5em 2em;
                letter-spacing: 0.15em;
                border-radius: 5px;
            }
        }
    }
}

/* =================================
 * ピックアップ
 * ------------------------------ */
.itemDetails {
    width: 100%;
    max-width: 1063px;
    flex: 0 0 100%;
    min-width: 0;
    background-color: $base-white;
    color: $dark-purple;
    display: grid;
    grid-template-columns: 47% 1fr;
    font-size: inherit;
    aspect-ratio: 1.874;
    gap: 0 2em;
    .itemImage {
        width: 100%;
        height: 100%;
        aspect-ratio: 3/4;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .castInfo {
        position: relative;
        font-size: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2em 0;
        .wrapProfile {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            min-width: 42rem;
            @include sp {
                min-width: unset;
            }
            .castNameEn {
                @include Oswald;
                font-size: FZ(24);
                font-weight: 200;
                color: $dark-pink;
                letter-spacing: 0.17em;
            }
            .castName {
                font-size: FZ(84);
                font-weight: 300;
                margin-top: 0.1em;
            }
            .age {
                @include Oswald;
                font-size: FZ(24);
                font-weight: 200;
                letter-spacing: 0.15em;
                margin-top: 0.8em;
                &::before {
                    content: "Age.";
                }
            }
            .castSize {
                font-size: inherit;
                display: flex;
                align-items: center;
                margin-top: 0.3em;
                span {
                    @include Oswald;
                    font-size: FZ(20);
                    font-weight: 200;
                    letter-spacing: 0.2em;
                    &::before {
                        text-transform: uppercase;
                    }
                    &:not(:last-of-type) {
                        &::after {
                            content: "/";
                            margin-inline: 0.2em;
                        }
                    }
                }
                .tall {
                    &::before {
                        content: "t.";
                    }
                }
                .bust {
                    &::before {
                        content: "b.";
                    }
                    i {
                        text-transform: uppercase;
                        &::before,
                        &::after {
                            display: inline-block;
                            translate: 0 -0.05em;
                        }
                        &::before {
                            content: "[";
                        }
                        &::after {
                            content: "]";
                        }
                    }
                }
                .west {
                    &::before {
                        content: "w.";
                    }
                }
                .hip {
                    &::before {
                        content: "h.";
                    }
                }
            }
        }
        .listType {
            display: flex;
            flex-wrap: wrap;
            font-size: inherit;
            gap: 0.3em;
            li {
                background-color: $light-purple;
                color: $base-white;
                font-size: inherit;
                border-radius: 100vmax;
                padding: 0.5em 1em;
                span {
                    font-size: FZ(16);
                    font-weight: 300;
                    letter-spacing: 0.05em;
                    &::before {
                        content: "#";
                    }
                }
            }
        }
        .catchCopy {
            font-size: FZ(24);
            font-weight: 300;
        }
    }
}
.containerPickUp {
    padding: 1em 4vw 5em;
    translate: 0 calc(-100vw * tan(15deg));

    // clip-path: polygon(0 calc(100vw * tan(15deg)), 100% 0, 100% 100%, 0 100%);
    margin-bottom: calc(-100vw * tan(15deg));
    display: flex;
    justify-content: center;
    z-index: 2;
    article {
        display: flex;
        justify-content: center;
        .pickupSplide {
            position: relative;
            width: 100%;
            display: flex;
            font-size: inherit;
            max-width: 1063px;
            :global(.splide__track),
            :global(.splide__list),
            :global(.splide__slide) {
                font-size: inherit;
            }
            :global(.splide__pagination) {
                display: none;
            }
            :global(.splide__arrows) {
                width: 100%;
                top: 50%;
                translate: 0 -50%;
                position: absolute;
                z-index: 1;
                :global(.splide__arrow--prev),
                :global(.splide__arrow--next) {
                    border-radius: unset;
                    width: 2rem;
                    height: 4rem;
                    background-color: $base-white;
                    display: block;
                    opacity: 1;
                    @include move03;
                    svg {
                        display: none;
                    }
                    @include hover {
                        opacity: 0.7;
                    }
                }
                :global(.splide__arrow--prev) {
                    left: -38px;
                    clip-path: polygon(0 50%, 100% 0, 100% 100%);
                }
                :global(.splide__arrow--next) {
                    right: -38px;
                    clip-path: polygon(0 0, 100% 50%, 0 100%);
                }
            }
        }
    }
}

/* =================================
 * スライドバナー
 * ------------------------------ */
.containerSlideBan {
    padding: 5em 2vw;
    background-color: $dark-purple;
}
