/* =================================
 * 	パールライン 右上への区切りライン
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.pearlLineTopRight {
    font-size: inherit;
    .bgPearl {
        --size: 54px;
        position: absolute;
        top: 0;
        translate: 0 calc((var(--size) / 2) * -1);
        width: calc(100vw + 100vw * tan(15deg));
        height: var(--size);
        background-image: url("../../images/pearl01.webp");
        background-repeat: repeat-x;
        background-size: var(--size) auto;
        background-position: center bottom;
        @include sp {
            --size: 30px;
        }
    }
    &.tpoPage {
        @include sp {
            display: none;
        }
        .bgPearl {
            left: -27px;
            transform-origin: left center;
            rotate: -15deg;
        }
    }
    &.left {
        .bgPearl {
            left: -27px;
            transform-origin: left center;
            rotate: -15deg;
        }
    }
    &.right {
        .bgPearl {
            right: -40px;
            transform-origin: right center;
            rotate: -15deg;
        }
    }
    &.right5 {
        .bgPearl {
            right: -40px;
            transform-origin: right center;
            rotate: 5deg;
            @include sp {
                --size: 24px;
            }
        }
    }
    &.center {
        .bgPearl {
            right: -40px;
            transform-origin: right center;
        }
    }
}
