/* =================================
 * 	FOOTER
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.containerFooter {
    display: flex;
    flex-direction: column;
    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
    }
    &::before {
        background: url("../../images/main-bg.webp") no-repeat center center /
            cover;
    }
    &::after {
        background-color: $light-purple;
        mix-blend-mode: multiply;
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5em 2vw 3em;
        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                text-align: center;
                font-size: FZ(16);
                letter-spacing: 0.18em;
                line-height: 3em;
                font-weight: 300;
            }
            .blockInfo {
                font-size: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3em;
                gap: 0 3em;
                .name {
                    position: relative;
                    display: grid;
                    font-size: inherit;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0.4em;
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        margin: auto;
                        width: 8rem;
                        aspect-ratio: 1;
                        background: url("../../images/pearl02.webp") no-repeat
                            center center/contain;
                    }
                    span {
                        display: inline-block;
                        font-weight: 300;
                        font-size: FZ(128);
                    }
                }
                .boxInfo {
                    position: relative;
                    font-size: inherit;
                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: 0.8em 1em;
                    align-items: center;
                    h3 {
                        font-size: FZ(20);
                        letter-spacing: 0.12em;
                    }
                    .time {
                        font-size: inherit;
                        display: flex;
                        span {
                            @include Oswald;
                            font-weight: 200;
                            font-size: FZ(32);
                            letter-spacing: 0.12em;
                            &:nth-of-type(2) {
                                &::before {
                                    content: "~";
                                    margin-inline: 0.3em;
                                }
                            }
                        }
                    }
                    .tel {
                        font-size: inherit;
                        display: flex;
                        align-items: center;
                        gap: 0 0.5em;
                        a {
                            @include Oswald;
                            font-weight: 200;
                            font-size: FZ(32);
                            letter-spacing: 0.12em;
                        }
                        span {
                            font-size: FZ(20);
                            letter-spacing: 0.12em;
                        }
                    }
                    address {
                        grid-column: span 2;
                        font-size: FZ(20);
                        letter-spacing: 0.12em;
                        margin-top: 0.3em;
                    }
                }
            }
        }
    }
    .copyright {
        position: relative;
        text-align: center;
        font-size: FZ(20);
        font-weight: 300;
        letter-spacing: 0.27em;
        padding-block: 0.5em;
        z-index: 2;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: $base-purple;
            z-index: -1;
        }
        &::before {
            @include pearl-line(54px, top);
        }
    }
}
