/* =================================
 * 	HEADER
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.containerHeader {
    position: absolute;
    left: 50%;
    translate: -50%;
    z-index: 5;
    top: 2em;
    width: 100%;
    padding-inline: 4vw;
    @include sp {
        display: contents;
    }
    section {
        display: flex;
        width: 100%;
        color: $dark-purple;
        align-items: center;
        article {
            height: 9rem;
            display: flex;
            align-items: center;
            background-color: $base-white;
            border-radius: 100vmax;
            padding-inline: 3em;
            gap: 0 2em;
            @include sp {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                translate: 100vw;
            }
            h1 {
                font-size: inherit;
                width: 11.25em;
                a {
                    font-size: inherit;
                    width: 100%;
                    svg {
                        fill: $dark-purple;
                        aspect-ratio: 268/85;
                    }
                }
            }
            nav {
                position: relative;
                font-size: inherit;
                flex: 1;
                display: flex;
                gap: 0 0.8em;
                justify-content: space-between;
                a {
                    font-size: FZ(16);
                    font-weight: 300;
                }
                .navTop {
                    display: none;
                }
            }
        }
        button {
            display: flex;
            background-color: $base-white;
            position: relative;
            font-size: inherit;
            width: 7rem;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}

/* =================================
 * ハンバーガーボタン
 * ------------------------------ */
.hamburgerButton {
    display: none;
    @include sp {
        display: block;
        position: fixed;
        right: 2vw;
        top: 4vw;
        width: 13vw;
        aspect-ratio: 1;
        z-index: 100;
        cursor: pointer;
        background-color: $base-white;
        border-radius: 50%;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40%;
            height: 1px;
            background-color: $base-purple;
            transition: 0.5s ease-out;
            &:nth-of-type(1) {
                transform: translate(-50%, calc(-50% - 1.5vw));
            }
            &:nth-of-type(2) {
                transform: translate(-50%, -50%);
            }
            &:nth-of-type(3) {
                transform: translate(-50%, calc(-50% + 1.5vw));
            }
        }
        &.isOpen,
        &[data-open="true"] {
            span {
                transition: 0.3s ease-out;
                &:nth-of-type(1) {
                    transform: translate(-50%, -50%) rotate(135deg);
                }
                &:nth-of-type(2) {
                    transform: translate(-50%, -50%);
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: translate(-50%, -50%) rotate(-135deg);
                }
            }
        }
    }
}
